*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(49, 160, 200);
    color: #fff;
    text-align: center;
    border-bottom: #fff 6px solid;
}
nav {
    display: flex;
    width: 80%;;
    align-items: center;
    color: #fff;

}

nav a {
    display: flex;
    justify-content: center;
    align-items: center ;
    text-decoration: none;
    color: #fff;
    width: 30%;
    border: #fff 6px solid;
    height: 60px;
}

nav img {
    height: 100%;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.wrapper{
    display: flex;
    flex-direction: row;
}

img{
    height: 50px;
    width: 100px;
}

ul{
    list-style-type: none;
}

.publicInfo {
    text-decoration: none;
    color: #fff;
    background-color: rgb(49, 160, 200);
    border: #fff 6px solid;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.personalInfo {
    text-decoration: none;
    color: #fff;
    background-color: rgb(49, 160, 200);
    border: #fff 6px solid;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
}
